# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyo

# Virtualenv
.venv/
env/
venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# Pytest
.cache/
.tox/
.coverage
htmlcov/

# HuggingFace cache
~/.cache/huggingface/
~/.huggingface/

# Tailwind & Node.js
node_modules/
package-lock.json
*.css
*.map
theme/static/css/dist/
theme/static_src/package-lock.json
theme/static_src/postcss.config.js

# Mac/Linux specific
.DS_Store
Thumbs.db

# Jupyter / Notebook
.ipynb_checkpoints/

# Model checkpoints & outputs
*.ckpt
*.pt
*.bin
results/
checkpoints/

# Tailwind config
theme/static_src/postcss.config.js

# Django migration cache
**/migrations/*.pyc
**/migrations/__pycache__/
migration/
theme/
.env
